<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  stopOnFailure="true"
  >
  <coverage>
    <include>
      <directory>Home/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="test">
      <directory>Test/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="tmp/phpunit.txt"/>
  </logging>
</phpunit>